<div class="accordion" *ngFor="let item of accordions; index as index">
  <div class="accordion__header"
       [ngClass]="{'show': activeIndex == index}"
       (click)="accordionToggle(index)">
    <div class="accordion__title">{{item}}</div>
  </div>
  <div class="accordion__body" *ngIf="item == 'personal-info'">
    <app-profile-list class="accordion__content"></app-profile-list>
  </div>
  <div class="accordion__body" *ngIf="item == 'contacts'">
    <app-phone-email class="accordion__content"></app-phone-email>
  </div>
</div>
