@import "./../../../assets/style/variables";
@import "./../../../assets/style/mixing/mixings";

.card{
  transition: all .3s;
  .thumbnail{
    width: 100%;
    object-fit: cover;
    height: 140px;
  }
  p{
    margin-bottom: $spacer * 1.5;
    line-height: 1.5;
  }
  h6{
    margin-bottom: $spacer;
  }
  &:hover{
    transform: scale(1.05);
    transition: all .3s;
  }
}
