@import "../variables";

.custom-checkbox{
  position: relative;
  display: flex;
  align-items: center;
  font-size: $font-size-base;
  user-select: none;
  cursor: pointer;
  input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  span {
    position: relative;
    width: 19px;
    height: 19px;
    border: 1px solid $secondary;
    background: $gray-three;
    border-radius: $border-radius* .25;
    overflow: hidden;
    cursor: pointer;
    &:after{
      content: "";
      position: absolute;
      display: none;
      left: 3px;
      top: 4px;
      width: 10px;
      height: 6px;
      border-left: 1px solid $white;
      border-bottom: 1px solid $white;
      transform: rotate(-45deg);
    }
  }
  input:checked ~ span{
    background: $secondary;
    &:after{
      display: block;
    }
  }
  &:hover span{
    outline: 2px solid rgba($secondary, .30);
  }
}
