/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #011627;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #607B96;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lighten(#607B96, 15%);

}
