@import "../../../assets/style/variables";

section{
  display: grid;
  grid-template-columns: minmax(max-content, 630px) max-content;
  flex: 1;
  height: 100%;
  overflow: auto;
  @media screen and (max-width: 1099px) {
    grid-template-columns: 1fr;
  }
}
app-form-contact{
  display: block;
  border-right: 1px solid $gray-two;
  height: 100%;
}
app-code-snipped{
  display: block;
  height: 100%;
}
@media screen and (max-width: 767px) {
  app-code-snipped{
    display: none;
  }
}
