@import "../../../assets/style/variables";

:host{
  display: flex;
  height: 100%;
  overflow: hidden;
}
section{
  flex: 1;
  display: grid;
  grid-template-columns: minmax(max-content, 630px) max-content;
  height: 100%;
  overflow: auto;
  @media screen and (max-width: 1099px) {
    grid-template-columns: 1fr;
    height: max-content;
    max-height: 100%;
  }
}
app-form-contact{
  display: block;
  border-right: 1px solid $gray-two;
  height: 100%;
}
app-code-snipped{
  display: block;
  height: 100%;
}
