

// color system
$primary: #01080e !default;
$secondary: #607b96 !default;
$accent: #fea55f !default;

$white: #ffffff !default;
$gray-one: #010C15 !default;
$gray-two: #1e2d3d !default;
$gray-three: #011627 !default;
$black: #000000 !default;
$cyan: #43d9ad !default;
$indigo: #4d5bce !default;
$salmon: #e99287 !default;
$purple: #c98bdf !default;
$transparent: transparent;

// extra colors
$play-control-board-bg: #011423 !default;


// spacer
$spacer: 1rem !default;
$spacers15: $spacer * .5 !default;
$spacers2: $spacer * 2 !default;
$spacers25: $spacer *2.5 !default;
$spacers3: $spacer * 3 !default;
$spacers35: $spacer * 3.5 !default;




// Grid columns and container
$container-max-widths: 1800px !default;
$grid-columns: 3 !default;
$grid-gutter-width: $spacers15 !default;
$grid-row-columns: 3 !default;
$container-padding-x: $grid-gutter-width !default;

// border
$border-width: 1px !default;
$border-widths: 1 !default;
$border-style: solid !default;
$border-color: $secondary !default;
$border-color-translucent: rgba($secondary, .175) !default;
$border-radius: .5em !default;

// font famaly
$font-family-sans-serif:
  'Fira Code',
  monospace,
  system-ui,
  -apple-system,
  Roboto,
  Arial,
  sans-serif !default;
$font-family-base: $font-family-sans-serif !default;

// Typo font size
$font-size-base: 1rem !default;
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

// font weight
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-base: $font-weight-normal !default;
$font-weight-thin-bold: 600 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

// line heioght
$line-height-base: normal !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;

// zindex

$zindex-normal: 1;
$zindex-negative: -1;

// heading
$headings-margin-bottom: $spacer * .5 !default;
$headings-font-family: null !default;
$headings-font-style: null !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.2 !default;
$headings-color: null !default;

// hr
$hr-margin-y: $spacer !default;
$hr-color: inherit !default;
$hr-border-color: null !default;
$hr-border-width: $border-width !default;
$hr-opacity: .25 !default;

// Button
$btn-padding-y: .625rem !default;
$btn-padding-x: .75rem !default;
$btn-font-family: null !default;
$btn-font-size: $font-size-base !default;
$btn-line-height: $line-height-base !default;
$btn-white-space: null !default;
$btn-outline: null !default;
$btn-border-width: $border-width !default;
$btn-font-weight: $font-weight-normal !default;
$btn-box-shadow: null !default;


// input
$input-padding-y: $spacer * .6 !default;
$input-padding-x: $spacer !default;
$input-font-family: null !default;
$input-font-size: $font-size-base !default;
$input-font-weight: $font-weight-base !default;
$input-bg: darken($gray-three, 1.5%) !default;
$input-color: $gray-two !default;
$input-border-color: $gray-two !default; //$gray-400
$input-border-radius: $border-radius !default;
$input-border-width: $border-width !default;
$input-focus-border-color: $secondary !default;
$input-focus-shadow: 0 0 0 2px rgba(96, 123, 150, 0.30) !default;

// navs
$nav-tab-padding-y: $spacer * 1.125 !default;
$nav-tab-padding-x: $spacer * 2 !default;
$nav-tab-font-size: $font-size-base !default;
$nav-tab-font-weight: $font-weight-base !default;
$nav-tab-color: $secondary !default;
$nav-tab-border-color: $gray-two !default;
$nav-tab-hover-active-color: $white !default;
$nav-tab-hover-active-border-height: 2px!default;
$nav-tab-link-hover-active-border-color: $accent!default;


// links
$nav-link-padding-y: $spacer*.75  !default;
$nav-link-padding-x: $spacer * .875 !default;
$nav-link-font-size: $font-size-base !default;
$nav-link-font-weight: $font-weight-base !default;
$nav-link-color: $secondary !default;
$nav-link-border-color: $gray-two !default;
$nav-link-hover-active-color: $white !default;


// card
$card-xy-padding: $spacer * 1.5 !default;
$card-lr-padding: $spacer * 2 !default;
$card-color: $secondary !default;
$card-font-color: $font-size-base * 1.125 !default;
$card-border-width: 1px !default;
$card-border-color: $gray-two !default;
$card-border-radius: $border-radius * 2 !default;
$card-bg-color: $gray-three !default;

// code
$code-font-size: $font-size-base !default;
$code-color: $indigo !default;
$code-variable-color: $purple !default;
$code-value-color: $accent !default;
$code-function-color: $purple !default;
$code-bracket-color: $secondary !default;

// btn colors


$btn-theme: (
  "primary": $primary,
  "secondry": $secondary,
  "accent": $accent,
  "dark": $gray-two,
  "line-white": $transparent,
  "text": $transparent
);

$code-theme: (
  "comment": $secondary,
  "const": $indigo,
  "variable": $cyan,
  "value": $accent,
  "assign": $white
);



// app section


$sidebar-width : 310px;
$sidebar-md-width : 240px;
$sidebar-sm-width : 200px;
$sidebar-xs-width : 100px;

// hello section
$hello-grid-gap: $spacer*2 !default;
$intro-font-caption-size: $font-size-base * 1.125 !default;
$intro-font-title-size: $font-size-base * 3.875 !default;
$intro-font-code-size: $h2-font-size !default;
$highlight-grid-gap: $spacer*1.5 !default;

$highlight-background: linear-gradient(150deg, rgba(23, 85, 83, 0.70) 1.7%, rgba(67, 217, 173, 0.09) 81.82%) !default;
$highlight-width: 510px !default;
$highlight-height: 474px !default;
$highlight-padding-y: $spacer*2.25 !default;
$highlight-padding-x: $spacer*2 !default;
$highlight-cyan-width: 864px !default;
$highlight-cyan-height: 784px !default;
$highlight-indigo-width: 668px !default;
$highlight-indigo-height: 681px !default;
$highlight-play-width: 238px !default;
$highlight-play-height: 100% !default;
$highlight-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.20) inset !default;


// dropdown

$dropdown-color: $white !default;
$dropdown-font-size: $font-size-base !default;
$dropdown-font-weight: $font-weight-base !default;
$dropdown-xy-padding: $spacer * .625 !default;
$dropdown-lr-padding: $spacer * 1.375 !default;
$dropdown-link-left-padding: $spacer * 1.25 !default;
$dropdown-border-color: $gray-two !default;



// filter tab

$filter-tab-color: $secondary !default;
$filter-tab-font-size: $font-size-base !default;
$filter-tab-font-weight: $font-weight-base !default;
$filter-tab-padding: $spacer * 0.625 !default;
$filter-tab-r-padding: $spacer * 1.375 !default;
$filter-tab-border-color: $gray-two !default;

//  contact list

$contact-list-size: $font-size-base !default;
$contact-list-weight: $font-weight-base !default;;
$contact-list-color: $secondary !default;
$contact-list-color-active: $white !default;
$contact-list-flex-gap: $spacer * .5 !default;

// form-label
$form-label-size: $font-size-base !default;
$form-label-weight: $font-weight-base !default;
$form-label-color: $secondary !default;

// skill badge

$skill-badge-color: $secondary !default;
$skill-badge-font-size: $font-size-base !default;
$skill-badge-weight: $font-weight-base !default;
$skill-badge-y-padding: $spacer * .85 !default;
$skill-badge-x-padding: $spacer * 2 !default;
$skill-badge-border-color: $gray-two !default;
$skill-badge-border-radius: $spacer *2 !default;
$skill-badge-hover-color: $white !default;
$skill-badge-hover-border-color: $white !default;
$skill-badge-hover-bg-color: rgba($secondary, 10%) !default;


// commit
$commit-border-color: $gray-two !default;
$commit-border-radius: $border-radius !default;
$commit-y-padding: $spacer * .625 !default;
$commit-x-padding: $spacer !default;




