@import "../../../assets/style/variables";
@import "../../../assets/style/mixing/mixings";

.nav-tab:last-child{
  margin-left: auto;
  border-left: 1px solid $nav-tab-border-color;
  border-right: 0;
}
