@import "../../../assets/style/variables";
@import "../../../assets/style/mixing/mixings";

.nav-tab:last-child{
  margin-left: auto;
  border-left: 1px solid $nav-tab-border-color;
  border-right: 0;
}
@media screen and (max-width: 767px) {
  .nav-tab{
    width: 100%;
    border-right: 0;
    border-bottom: 1px solid $nav-tab-border-color;
    &.active, &:hover{
      &:after{
        content: none;
      }
    }
    &:last-child{
      border-left: 0;

    }
  }
}
