<div class="intro-caption">Hi all. I am</div>
<div class="typing-effect">
  <div class="intro-title">Micheal Weaver</div>
</div>
<div class="intro-code">> Front-end developer</div>

<div class="text-comment mweb-hidden">// complete the game to continue</div>
<div class="text-comment mweb-hidden">// you can also see it on my Github page</div>
<div class="text-comment desktop-hidden">// find my profile on Github:</div>
<h6>
  <span class="text-const">const&nbsp;</span>
  <span class="text-variable">githubLink</span>
  <span class="text-assign">&nbsp;=&nbsp;</span>
  <a class="text-value" href="https://github.com/suman600" target="_blank" tabindex="-1">“https://github.com/suman600”</a>
</h6>
