@import "../../../assets/style/variables";
@import "../../../assets/style/mixing/mixings";

:host {
  width: max-content;
}
.intro-caption{
  color: $white;
  font-size: $intro-font-caption-size;
}
.intro-title{
  color: $white;
  font-size: $intro-font-title-size;
  font-weight: $font-weight-normal;
}
.intro-code{
  color: $indigo;
  font-size: $intro-font-code-size;
  margin-bottom: $spacer*6.5;
  @media screen and (max-width: 1199px) {
    margin-bottom: $spacer*3.5;
  }
}
.text-comment{
  margin-bottom: $spacer*.625;
}

.typing-effect {
  position: relative;
  @media screen and (min-width: 768px) {
    &:after{
      content: "Micheal Weaver";
      position: absolute;
      top: 0;
      color: rgba($white, 6%);
      font-size: $intro-font-title-size;
      font-weight: $font-weight-normal;
      white-space: nowrap;
    }
    .intro-title{
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      border-right: 3px solid $white;
      animation: typing 2.5s steps(14), blink .5s step-end infinite alternate;
    }
  }
}
@media screen and (max-width: 767px) {
  :host{
    width: 100%;
    height: 100%;
    @include flex-column();
  }
  .intro-caption{
    margin-bottom: 10px;
  }
  .intro-title{
    line-height: 100%;
    margin-bottom: 10px;
  }
  .intro-code{
    font-size: calc($intro-font-code-size - .75rem);
    color: #43D9AD;
    margin-bottom: 0;
  }
  .text-comment{
    margin-top: auto;
  }
  h6{
    word-break: break-word;
    line-height: 160%;
  }
}



@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}
