@mixin flex-root(){
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
}
@mixin flex-column(){
  display: flex;
  flex-direction: column;
}
@mixin nav-group(){
  display: flex;
  align-items: center;
}

@mixin flex-align(){
  display: flex;
  align-items: center;
}
