@import "../../../assets/style/variables";
@import "../../../assets/style/mixing/mixings";
.show +{
  *{
    position: relative;
    top: $spacer;
    animation: slideUp .2s  linear forwards;
  }
}
@keyframes slideUp {
  from{
    top: $spacer;
  }
  to{
    top: 0;
  }
}

