@import "../../../assets/style/variables";
@import "../../../assets/style/mixing/mixings";

form{
  @include flex-column();
  padding: 140px 100px;
  @media screen and (max-width: 1599px) {
    padding: 100px 80px;
  }
  @media screen and (max-width: 1499px) {
    padding: 80px 40px;
  }
  @media screen and (max-width: 1299px) {
    padding: 80px 20px;
  }
  @media screen and (max-width: 1099px) {
    padding: 60px 80px 0;
  }
  @media screen and (max-width: 899px) {
    padding: 60px 40px 0;
  }
}
.btn{
  width: max-content;
}

.state-success{
  padding: 270px $spacer * 2 $spacer * 2;
  @include flex-column();
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: $font-size-base * 1.125;
}
h2{
  color: $white;
}
input::selection{
  background: #607b96;
}
.ng-touched.ng-invalid{
  border-color: $accent;
  box-shadow: none;
}
