@import "../../../assets/style/variables";
@import "../../../assets/style/mixing/mixings";

form{
  @include flex-column();
  padding: 140px 100px;
}
.btn{
  width: max-content;
}

.state-success{
  padding: $spacer * 2 $spacer * 2;
  @include flex-align();
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: $font-size-base * 1.125;
}
h2{
  color: $white;
}
input::selection{
  background: #607b96;
}
.ng-touched.ng-invalid{
  border-color: $accent;
  box-shadow: none;
}
