<app-dropdown></app-dropdown>
<div class="contact-group">
  <a href="mailto:someone@example.com" class="contact-list">
    <img src="./assets/img/email.svg" alt="email">user@gmail.com
  </a>
  <a href="javascript:void(0)" class="contact-list">
    <img src="./assets/img/call.svg" alt="call">+3598246359</a>
</div>
<app-dropdown></app-dropdown>
<div class="contact-group">
  <a href="https://www.google.com" class="contact-list" *ngFor="let i of [0,1,2,3,4]">
    <img src="./assets/img/forward.svg" alt="call">GuruShots profile
  </a>

</div>
