@import "../../../assets/style/variables";
@import "../../../assets/style/mixing/mixings";
:host{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: $spacer * 3;
  max-width: 800px;
}
.card{
  border: 1px solid $gray-two;
  border-radius: $border-radius;
  color: #5f7b97;
  height: 200px;
  font-size: $spacer;
  overflow: hidden;
  &__header{
    padding: $spacer * .25 $spacer * .75;
    background: transparent;
    border-bottom: 1px solid $gray-two;
    @include flex-align();
    justify-content: space-between;
  }
  &__content{
    height: 100%;
    padding: $spacer;
    @include flex-column();
    gap: $spacer;
    color: $white;
     > div{
      display: flex;
      gap: $spacer * .625;
    }
  }
  small{
    font-size: $font-size-base * .75;
    font-weight: $font-weight-semibold;
    color: $accent;
  }
}
