#customCursor{
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("../../assets/img/food.svg") no-repeat center center;
  background-size: 100%;
  opacity: 0;
  z-index: 99;
  transition: transform 0.2s, opacity 0.2s;
}
