<div class="highlights">
  <div class="highlights__play">
    <ng-container>
      <div class="game-ribbon">GAME OVER!</div>
      <button class="btn btn-text">play-again</button>
    </ng-container>
    <ng-container>
      <div class="game-ribbon">WELL DONE!</div>
      <button class="btn btn-text text-white">play-again</button>
    </ng-container>
    <button class="btn btn-accent">start-game</button>
  </div>
  <div class="highlights__controls">
    <div class="board">
      // use keyboard<br>
      // arrows to play
      <button class="btn"><img src="./assets/img/key-top.svg" alt="key left"></button><br>
      <button class="btn"><img src="./assets/img/key-left.svg" alt="key left"></button>
      <button class="btn"><img src="./assets/img/key-bottom.svg" alt="key left"></button>
      <button class="btn"><img src="./assets/img/key-right.svg" alt="key left"></button>
    </div>
  </div>
</div>

