@import "../../../assets/style/variables";
:host{
  border-radius: $border-radius;
  border: 1px solid $gray-one;
  background: $highlight-background;
  box-shadow: $highlight-shadow;
  backdrop-filter: blur(32px);
  &:before, &:after{
    content: "";
    position: absolute;
  }
  &:before{
    width: 454px;
    height: 492px;
    transform: rotate(-94deg);
    background-image: url("../../../assets/img/heighlight-cyan.svg");
    background-repeat: no-repeat;
    background-size: contain;
    left: -50px;
    top: -126px;
  }
}

.highlights{
  display: grid;
  grid-template-columns: 1fr 182px;
  grid-gap: $highlight-grid-gap;
  padding: $spacer*2;
  width: 510px;
  height: 475px;
  &__play{

  }
}
