@import "../../../assets/style/variables";
@import "../../../assets/style/mixing/mixings";

:host{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 182px;
  grid-gap: $highlight-grid-gap;
  border-radius: $border-radius;
  border: 1px solid $gray-one;
  background: $highlight-background;
  width: $highlight-width;
  height: $highlight-height;
  padding: $highlight-padding-y $highlight-padding-x;
  box-shadow: $highlight-shadow;
  backdrop-filter: blur(32px);
}

.gradient-cyan{
  background: url('../../../assets/img/heighlight-cyan.svg') no-repeat;
  position: absolute;
  width: $highlight-cyan-width;
  height: $highlight-cyan-height;
  top: -292px;
  right: -110px;
  z-index: $zindex-negative;
  @media screen and (max-width: 1199px) {
    top: -215px;
    right: -140px;
  }
}

.gradient-indigo{
  background: url('../../../assets/img/heighlight-indigo.svg') no-repeat;
  position: absolute;
  width: $highlight-indigo-width;
  height: $highlight-indigo-height;
  top: 120px;
  left: 120px;
  background-size: contain;
  transform: rotate(-10deg);
  z-index: $zindex-negative;
  @media screen and (max-width: 1199px) {
    width: 468px;
    height: 481px;
    top: 140px;
    left: 180px;
    opacity: .75;
  }
}

.highlights-play{
  position: relative;
  border-radius: $border-radius;
  background: rgba($gray-three, 0.84);
  width: $highlight-play-width;
  height: $highlight-play-height;
  overflow: hidden;
}
.game-ribbon{
  background: rgba($gray-three, 0.84);
  color: $cyan;
  font-size: $h4-font-size;
  padding: $spacer * .625 $spacer * 2;
}
.play-start{
  @include flex-column();
  position: absolute;
  bottom: 36px;
  left: 2rem;
  right: 0;
  background: rgba($gray-three, 0.84);
  text-align: center;
  gap: $spacer * .75;
  width: 238px;
  min-height: 120px;
  padding: $spacer * 1.125 0;
}

.btn-accent{
  width: max-content;
  margin: 0 auto;
}

.bolt-icon{
  position: absolute;
  &.top-left{
    top: 12px;
    left: 12px;
  }
  &.top-right{
    top: 12px;
    right: 12px;
  }
  &.down-left{
    bottom: 12px;
    left: 12px;
  }
  &.down-right{
    bottom: 12px;
    right: 12px;
  }
}
.play-control{
  color: $white;
  border-radius: $border-radius;
  background: rgba($play-control-board-bg, 0.19);
  padding: $spacer $spacer * .75;
  margin-bottom: $spacer * 1.125;
}

pre{
  font-size: $font-size-base * .875;
  color: $white;
}
.btn-group{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: $spacer * .25;
  :first-child{
    grid-column: 1 span / 3;
  }
  :not(:first-child){
    grid-row: 2;
  }
}
.food-group{
  @include grid(grid, 5, $spacer * .5);
  width: max-content;
}

img.bluer, img.bluer ~ img{
  opacity: .3;
}
