@import "../../../assets/style/variables";
.filter-tab{
  color: $filter-tab-color;
  font-size: $filter-tab-font-size;
  font-weight: $filter-tab-font-weight;
  padding: $filter-tab-padding $filter-tab-padding $filter-tab-padding $filter-tab-r-padding;
  width: max-content;
  border-right: 1px solid $filter-tab-border-color;
  img{
    margin-left: 48px;
    cursor: pointer;
  }
}
