<header>
  <div class="tab-group">
    <span class="nav-tab">micheal-weaver</span>
    <ng-container *ngFor="let tab of tabs; index as index">
      <a class="nav-tab"
         [ngClass]="{'active': selectedIndex == index}"
         [routerLink]="tab.url" tabindex="-1">{{tab.name}}</a>
    </ng-container>
  </div>
</header>
<div>
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="link-group">
    <span class="nav-links">find me in:</span>
    <ng-container *ngFor="let link of links">
      <a class="nav-links" [href]="link.href" tabindex="-1">
        <img  [src]="link.url" [alt]="link.name">
      </a>
    </ng-container>
  </div>
</footer>

