@import "../assets/style/variables";
@import "../assets/style/mixing/mixings";
header {
  border-bottom: 1px solid $gray-two;
}
footer{
  border-top: 1px solid $gray-two;
}
.nav-tab:first-child {
  width: $sidebar-width;
  pointer-events: none;
  &:after{
    content: none;
  }
}
.nav-links:first-child {
  padding-left: $spacer*1.5;
  padding-right: $spacer*1.5;
  pointer-events: none
}
.nav-tab,
.nav-links{
  border-width: 0 1px 0 0;
  &:last-child{
    margin-left: auto;
    border-left: 1px solid $nav-tab-border-color;
  }
}
.tab-group, .link-group{
  @include nav-group();
}
router-outlet{
  display: none;
+ *{
  flex: 1;
}

}
