@import "../assets/style/variables";
@import "../assets/style/mixing/mixings";


footer{
  border-top: 1px solid $gray-two;
}
.nav-links:first-child {
  padding-left: $spacer*1.5;
  padding-right: $spacer*1.5;
  pointer-events: none
}
.nav-links{
  border-width: 0 1px 0 0;
  &:last-child{
    margin-left: auto;
    border-left: 1px solid $nav-tab-border-color;
  }
}
.link-group{
  @include nav-group();
}
