<app-dropdown></app-dropdown>
<div class="folder-group folder-group--about">
  <a href="mailto:someone@example.com" class="about-list">
    <img src="./assets/img/user.svg" alt="email">about me
  </a>
  <a href="mailto:someone@example.com" class="about-list">
    <img src="./assets/img/experience.svg" alt="email">work experience
  </a>
  <a href="mailto:someone@example.com" class="about-list">
    <img src="./assets/img/code.svg" alt="email">skills
  </a>
  <a href="mailto:someone@example.com" class="about-list">
    <img src="./assets/img/school.svg" alt="email">education
  </a>
</div>
<app-dropdown></app-dropdown>
<div class="folder-group">
  <a href="mailto:someone@example.com" class="contact-list">
    <img src="./assets/img/email.svg" alt="email">user@gmail.com
  </a>
  <a href="javascript:void(0)" class="contact-list">
    <img src="./assets/img/call.svg" alt="call">+3598246359
  </a>
</div>
