@import "../../../assets/style/variables";
@import "../../../assets/style/mixing/mixings";

:host {
  overflow: auto;
}
.nav-tab{
  display: none;
}
@media screen and (max-width: 767px) {
  .nav-tab{
    display: block;
    &:after{
      content: none;
    }
  }
}
