<div class="about-container">
<pre class="mweb-hidden" [ngStyle]="{'height': height+'px'}">
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
</pre>
<ul #element>
  <li class="mweb-hidden">/*</li>
  <li class="mweb-hidden">&nbsp;</li>
  <li><span>*</span>Hello,</li>
  <li class="mweb-hidden">&nbsp;</li>
  <li><span>*</span>My name is Suman Raj Gupta, and I have approximately 5 years of experience in web development. In the last five years, I have implemented many web projects and feature developments with different tools which include Angular, AngularJS, vanilla JavaScript, PHP, HTML, CSS, etc.</li>
  <li class="mweb-hidden">&nbsp;</li>
  <li><span>*</span>Also, I'm a passionate technology enthusiast who enjoys sharing knowledge and staying informed about the latest market trends.</li>
  <li class="mweb-hidden">&nbsp;</li>
  <li><span>*</span>I excel at efficiently handling complex tasks, collaborating effectively with teams, and consistently delivering exceptional results that leave everyone satisfied.</li>
  <li class="mweb-hidden">&nbsp;</li>
  <li><span>*</span>If you have any questions or would like to learn more about my work, feel free to ask. I'm here to help and share my expertise.</li>
  <li class="mweb-hidden">&nbsp;</li>
  <li class="mweb-hidden">&nbsp;</li>
  <li class="mweb-hidden">*/</li>
</ul>
</div>

