<pre class="mweb-hidden">
1     /**
2     * About me
3
4     * I have 5 years of еxperience in web
5     * consectetur adipiscing elit, sed do eiusmod
6     * tempor incididunt ut labore et dolore
7     * magna aliqua. Ut enim ad minim veniam,
8     * quis nostrud exercitation ullamco laboris
9     * nisi ut aliquip ex ea commodo consequat.
10    * Duis aute irure dolor in reprehenderit in
11
12    * Duis aute irure dolor in reprehenderit in
13    * voluptate velit esse cillum dolore eu fugiat
14    * nulla pariatur. Excepteur sint occaecat
15    * officia deserunt mollit anim id est laborum.
16    */
</pre>

<div class="desktop-hidden">
  <p><span class="text-assign">// personal-info</span> / bio</p><br>
  I have 5 years of experience in web development lorem ipsum dolor sit amet,
  consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in. Duis aute irure dolor in
  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  Excepteur sint occaecat officia deserunt mollit anim id est laborum.
</div>
