<pre class="mweb-hidden">
1     /*
2     * Hello,
3
4     * My name is Suman Raj Gupta, and I have approximately 5 years
5       of experience in web development. In the last five years, I have
6       implemented many web projects and feature developments
7       with different tools which include Angular, AngularJS,
8       vanilla JavaScript, PHP, HTML, CSS, etc.
9
10    * Also, I'm a passionate technology enthusiast who enjoys sharing
11      knowledge and staying informed about the latest market trends
12
13    * I excel at efficiently handling complex tasks, collaborating
14      effectively with teams, and consistently delivering exceptional
15      results that leave everyone satisfied.
16
17      If you have any questions or would like to learn more about my work,
18      feel free to ask. I'm here to help and share my expertise.
19
20      */
</pre>

<div class="desktop-hidden">
  <p><span class="text-assign">// personal-info</span> / bio</p><br>
  I have 5 years of experience in web development lorem ipsum dolor sit amet,
  consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in. Duis aute irure dolor in
  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  Excepteur sint occaecat officia deserunt mollit anim id est laborum.
</div>
