@import "../../../assets/style/variables";
:host{
  display: grid;
  grid-template-columns: max-content 1fr;
  padding: $spacer $spacer $spacer $sidebar-width;
  align-items: center;
  grid-gap: $hello-grid-gap;
}
