@import "../../../assets/style/variables";
:host{
  display: grid;
  grid-template-columns: auto auto;
  padding: $spacer*2 $sidebar-width;
  align-items: center;
  width: max-content;
  grid-gap: $hello-grid-gap;
}
