@import "../../../assets/style/variables";
@import "../../../assets/style/mixing/mixings";

:host{
  position: relative;
  @include nav-group();
  border-top: 1px solid $gray-two;
  z-index: $zindex-normal;
}

app-nav-link{
  flex: 1;
  @include nav-group();
}

.nav-links{
  padding-left: $spacer*1.5;
  padding-right: $spacer*1.5;
  @include nav-group();
  min-height: 49px;
  pointer-events: none
}
@media screen and (max-width: 767px) {
  :host{
    background: #011627;
  }
}

