.code-sniped{
  padding: 140px 50px;
}
pre{
  font-size: 18px;
  line-height: 1.5;
}
.text-truncate{
  display: inline-block;
  text-overflow: ellipsis;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;

}
.flex-inline{
  display: inline-flex;
  line-height: 1;
}
