<div class="desktop-hidden">
  <p><span class="text-assign">// personal-info</span> / work exp</p><br>
</div>
<div class="timeline" *ngFor="let work of works">
  <div class="timeline__badge">
    <img src="./assets/img/commit.svg" alt="commit">
  </div>
  <div class="timeline__content">
    <h5>{{work.position}}</h5>
    <p>{{work.company}} <code>({{work.time}})</code></p>
    <ul class="commit-box">
      <li class="commit-box__item" *ngFor="let text of work.work">
        {{text}}
      </li>
      <li class="commit-box__item commit-box__item--skills">
        <ng-container *ngFor="let skill of work.skills">
          <span class="skill-badge">
            {{skill}}
          </span>
        </ng-container>
      </li>
    </ul>
  </div>
</div>
