<div class="timeline" *ngFor="let work of works">
  <div class="timeline__badge">
    <img src="./assets/img/commit.svg" alt="commit">
  </div>
  <div class="timeline__content">
    <h5>{{work.position}}</h5>
    <p>{{work.company}} <code>({{work.time}})</code></p>
    <ul class="commit-box">
      <li class="commit-box__item" *ngFor="let text of work.work">
        {{text}}
      </li>
    </ul>
  </div>
</div>

<!--
<pre>
1     /**
2     * Software Engineer
3       * Testbook Education Pvt. Ltd (DD/MM/YY)
4
5     * consectetur adipiscing elit, sed do eiusmod
6     * tempor incididunt ut labore et dolore
7     * magna aliqua. Ut enim ad minim veniam,
8     * quis nostrud exercitation ullamco laboris
9     * nisi ut aliquip ex ea commodo consequat.
10    * Duis aute irure dolor in reprehenderit in
1
2     * Software Developer
3       * Testbook Education Pvt. Ltd (DD/MM/YY)
4
5     * consectetur adipiscing elit, sed do eiusmod
6     * tempor incididunt ut labore et dolore
7     * magna aliqua. Ut enim ad minim veniam,
8     * quis nostrud exercitation ullamco laboris
9     * nisi ut aliquip ex ea commodo consequat.
10    * Duis aute irure dolor in reprehenderit in
1
2     * Software Developer
3       * Testbook Education Pvt. Ltd (DD/MM/YY)
4
5     * consectetur adipiscing elit, sed do eiusmod
6     * tempor incididunt ut labore et dolore
7     * magna aliqua. Ut enim ad minim veniam,
8     * quis nostrud exercitation ullamco laboris
9     * nisi ut aliquip ex ea commodo consequat.
10    * Duis aute irure dolor in reprehenderit in
1
2     * Software Developer
3
4     * I have 5 years of еxperience in web
5     * consectetur adipiscing elit, sed do eiusmod
6     * tempor incididunt ut labore et dolore
7     * magna aliqua. Ut enim ad minim veniam,
8     * quis nostrud exercitation ullamco laboris
9     * nisi ut aliquip ex ea commodo consequat.
10    * Duis aute irure dolor in reprehenderit in
1
2     * Software Developer
3
4     * I have 5 years of еxperience in web
5     * consectetur adipiscing elit, sed do eiusmod
6     * tempor incididunt ut labore et dolore
7     * magna aliqua. Ut enim ad minim veniam,
8     * quis nostrud exercitation ullamco laboris
9     * nisi ut aliquip ex ea commodo consequat.
10    * Duis aute irure dolor in reprehenderit in
11    */
</pre>
-->
