@import "../../../assets/style/variables";
@import "../../../assets/style/mixing/mixings";

:host{
  display: flex;
  height: 100%;
  overflow: hidden;
}

section{
  flex: 1;
  height: 100%;
  padding: $spacer * 2 $spacer * 3;
  overflow: auto;
  @media screen and (max-width: 899px) {
    padding: $spacer * 2 $spacer * 2;
  }
}

app-about-me,
app-work-exp,
app-skills{
  position: relative;
  height: 100%;
  display: block;
  animation: animate .3s linear;
}
app-edu-cards{
  position: relative;
  animation: animate .3s linear;
}
@keyframes animate {
  from{
    top: 10px;
    opacity: 0;
  }
  to{
    top: 0;
    opacity: 1;
  }
}
