@import "../../../assets/style/variables";
@import "../../../assets/style/mixing/mixings";

:host{
  display: flex;
  height: 100%;
  overflow: hidden;
}

section{
  flex: 1;
  height: 100%;
  padding: $spacer * 2 $spacer * 3;
  overflow: auto;
}

app-about-me,
app-work-exp,
app-skills{
  height: 100%;
  display: block;
}
