@import "../../../assets/style/variables";

:host{
  display: flex;
  overflow: hidden;
}

section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex: 1;
  padding: 120px 140px;
  grid-gap: 40px;
  overflow: auto;
}

