@import "../../../assets/style/variables";
@import "../../../assets/style/mixing/mixings";

section{
  @include grid(grid, 3, 40px);
  flex: 1;
  padding: 120px 140px;
  overflow: auto;
  @media screen and (max-width: 1599px) {
    padding: 100px 100px;
  }
  @media screen and (max-width: 1599px) {
    padding: 60px 60px;
  }
  @media screen and (max-width: 1299px) {
    padding: 40px 40px;
    grid-column-gap: 20px;
  }
  @media screen and (max-width: 1199px) {
    grid-template-columns: repeat(2, 1fr);
    padding: 60px 60px;
    grid-column-gap: 60px;
  }
  @media screen and (max-width: 999px) {
    padding: 60px 30px;
    grid-column-gap: 30px;
  }
  @media screen and (max-width: 899px) {
    grid-template-columns: 1fr;
    padding: 60px 60px;
    app-card{
      max-width: 360px;
    }
  }
}

.empty-state{
  @include flex-align();
  justify-content: center;
  img{
    width: 40%;
    height: auto;
    animation: zoom .3s;
    animation-fill-mode: forwards;
  }
  @media screen and (max-width: 999px) {
    img{
      width: 60%;
    }
  }
}
app-card{
  animation: zoom .3s;
  animation-fill-mode: forwards;
}
@keyframes zoom {
  from{
    transform: scale(.9);
  }
  to{
    transform: scale(1);
  }
}
