@import "../../../assets/style/variables";
@import "../../../assets/style/mixing/mixings";

.item-list{
  @include flex-align();
  gap: $item-list-flex-gap * 3;
  color: $item-list-color;
  font-size: $item-list-size;
  font-weight: $item-list-weight;
  cursor: pointer;
  text-decoration: none;
  &:has(input:checked){
    color: $white;
  }
  &:hover, &:active, &.active{
    color: $item-list-color-active;
  }
}
