@import "../../../assets/style/variables";
@import "../../../assets/style/mixing/mixings";
:host{
  max-width: 900px;
  @media screen and (max-width: 767px) {
    height: max-content !important;
  }
}
section{
  @include flex-align();
  flex-wrap: wrap;
  column-gap: $spacer * .5;
  row-gap: $spacer * 1.5;
  margin-bottom: $spacer * 3;
  &:last-child{
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  section{
    row-gap: $spacer;
  }
  .skill-badge{
    padding: calc($skill-badge-y-padding - .1rem) calc($skill-badge-x-padding - .5rem);
  }
}
