@import "../../../assets/style/variables";
@import "../../../assets/style/mixing/mixings";

section{
  @include flex-align();
  flex-wrap: wrap;
  column-gap: $spacer * 4;
  row-gap: $spacer * 1.5;
  margin-bottom: $spacer * 3;
}

.skill-badge{
  color: $skill-badge-color;
  font-size: $skill-badge-font-size;
  font-weight: $skill-badge-weight;
  padding: $skill-badge-y-padding $skill-badge-x-padding;
  border: 1px solid $skill-badge-border-color;
  min-width: 120px;
  text-align: center;
}
