@import "../../../assets/style/variables";

.filter-group{
  padding: $spacer * 1.125 $spacer * 1.375;
  display: flex;
  flex-direction: column;
  gap: $spacer * 1.125;
  &__list{
    display: flex;
    align-items: center;
    gap: $spacer * 1.5;
    &:has(input:checked){
      color: $white;
    }
  }
}
